# Logs
logs/
*.log # Includes firebase-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# macOS
.DS_Store

# Dependencies
node_modules/

# Build artifacts / Output
dist/ # Includes build artifacts, potentially from Functions
dist-ssr/
*.tsbuildinfo

# Test coverage
coverage/

# Environment variables & Local overrides
*.local
.env*

# Cypress artifacts
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?